.motivation {

    margin: 0;
    margin-bottom: 0;

    blockquote {

        padding: $sm-spacing;

        @media screen and (min-width: $tablet-min) {

            padding: $mm-spacing;

        }

        &:after {

            mix-blend-mode: color !important;

        }

    }

}