button,
.button {

    cursor: none;

    text-decoration: none;

    color: inherit;

    transition: $transition-speed-normal $transition-easing-smooth;

    display: inline-flex;

    border: 1px solid transparent;

}

.circle-button {

    aspect-ratio: 1 / 1;
    width: fit-content;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    padding: .5em;
    cursor: pointer;
    transition: .2s ease-out;

    &:hover {

        color: white;

    }

}