body > #page_container > #page > header {

    width: 100vw;
    height: 100vh;
    
    background-color: $dark;

    > .container {
    
        width: 100%;
        height: 100%;
        position: relative;

        .hero {

            padding: $mm-spacing;
            
            // @media screen and (max-width: $tablet-max) {

                height: 100vh;

                display: flex;
                justify-content: center;
                align-items: flex-start;

            // }

            .crypt-txt {

                transition: .1s $transition-easing-crazy;

            }

            

        }
    
    }
    
}
