.marquee {

    position: relative;
    width: 100%;
    overflow: hidden;
    pointer-events: none;

    // margin-bottom: 1em;


    &:hover {

        .marquee--inner {
            
            animation: marquee var(--marquee-move-speed) linear infinite;
            animation-play-state: running;

        }

    }

    .marquee--inner {

        width: fit-content;
        display: flex;
        position: relative;
        transform: translate3d(calc(-25% + 1rem), 0, 0);

        animation-play-state: paused;

        span {

            display: inline-block;
            font-weight: 100;
            text-align: center;
            white-space: nowrap;
            padding: 0 0.5rem;
            user-select: none;

        }

    }

}

@keyframes marquee {

    0% {

        transform: translate3d(calc(-25% + 1rem), 0, 0);

    } 100% {

        transform: translate3d(calc(-50% + 1rem), 0, 0);

    }

}